

<div class="container-fluid bg-primary gore"  ng-controller="LoginController as loginCtrl">

	<div class="row " style="padding-bottom: 10vh;" >
		<div class="col-xs-4 col-xs-offset-1" style="margin-top: 10vh;" ng-show="!loginCtrl.isLoggedIn()" >
      <img class="img-responsive img-rounded center-block" src="../../images/logo300x300.png">
		</div>
		<div class="well col-xs-5 col-xs-offset-1"  ng-show="!loginCtrl.isLoggedIn()" style="margin-top: 10vh;height: 300px;">
			<form name="form" ng-submit="loginCtrl.login()">
      <h3 class="crno">Log In</h3>
			<div class="input-group">
				<span class="input-group-addon" ><span class="glyphicon glyphicon-user"></span></span>
				<input type="text" ng-model="loginCtrl.credentials.username" class="form-control" placeholder="Username or e-mail" aria-describedby="basic-addon1">
			</div>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" ng-model="loginCtrl.credentials.password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
			</div>
			<div class="btn-group">
				<a href="#/register" class="btn btn-default">Sign Up</a>
			</div>
			<div class="btn-group pull-right">
				<button type="submit" class="btn btn-primary">Log In</button>
			</div>
      </form>
		</div>
    <div class="text-center" ng-show="loginCtrl.isLoggedIn()" style="margin-top: 25vh;margin-bottom: 25vh;">
      <h1 style="color: white;">Welcome!</h1>
    </div>
	</div>
</div>
<div class="container-fluid tekstSredina">
	<div class="row">
		<div class="col-xs-12  ">
      <div class="row center-block container">
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-power-off fa-stack-1x fa-inverse"></i>
                    </span>
          <h4 class="service-heading">Login</h4>
          <p class="text-muted">
            Приклучи се на новата социјална мрежа Најди Играч, каде што барањето на играчи се сведува на само еден клик
          </p>
        </div>
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
          <h4 class="service-heading">Join</h4>
          <p class="text-muted">
            Најди играчи околу тебе, и заедно со нив помини го слободното време
          </p>
        </div>
        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                    </span>
          <h4 class="service-heading">Play</h4>
          <p class="text-muted">
            Запознај нови пријатели, играј со нив, на места кои до сега не си ги знаел во редовни термини
          </p>
        </div>
      </div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<hr>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 well events" ng-controller="EventController as eventCtrl">
      <div class="col-md-10 col-md-offset-1 event" ng-repeat="event in vm.upcomingEvents">
        <div class="media eventDate">
          <div class="media-body">
            <div class="row">
              <div class="col-xs-2 text-center" style="padding-right:5px;">
                <br>
                <h4>{{event.dateTime.year}}</h4>
                <h2>{{event.dateTime.day}} <small style="color: orangered">{{event.dateTime.month}}</small></h2>
                <h3 class="text-center" style=""></h3>
                <h3>{{event.dateTime.time}}</h3>
              </div>
              <div class="col-xs-10" style="padding-left: 0px;">
                <br>
                <h4 class="media-heading">{{event.sport}} | {{event.name}}
                  <small>at {{event.location.name}}, {{event.location.city}}, {{event.location.street}}-{{event.location.streetNumber}}</small>
                </h4>
                {{event.description}}
                <br>
              </div>
            </div>

            <br>
            <button type="button" ng-show="vm.isMyEvent(event)" class="btn btn-default pull-right" disabled>This is your event</button>
            <button type="button" ng-show="!vm.isRequestSent(event.id) && !vm.isMyEvent(event)" ng-click="vm.joinEvent(event.id)" class="btn btn-success pull-right">Join Event</button>
            <button type="button" ng-show="vm.isRequestSent(event.id) && !vm.isMyEvent(event)" ng-click="vm.cancelRequest(event.id)" class="btn btn-danger pull-right">Cancel participating request</button>
            <button style="margin-left: 30px;" type="button" class="btn btn-info" data-toggle="modal" data-target="#event-details" ng-click="vm.getEventDetails(event)">Details</button>
          </div>
          <hr>
        </div>
      </div>
		</div>
	</div>
</div>
<div class="container-fluid najdole">
	<div class="row">
		<div class="col-md-12">
			<h1 class="tekstDole"><a>Ready To Get Started?</a></h1>
		</div>
	</div>
</div>

<div class="modal fade" id="event-details">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#/event-details"><span
          aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">{{vm.eventDetails.name}} <br>
          <small><span class="fa fa-clock-o"></span>
            {{vm.eventDetails.dateTime.day}}
            {{vm.eventDetails.dateTime.month}}
            {{vm.eventDetails.dateTime.year}}
            {{vm.eventDetails.dateTime.time}}
          </small>
        </h2>
      </div>
      <div class="modal-body">

        <h4>{{vm.eventDetails.sport}}
          <span class="fa fa-futbol-o" ng-show="vm.eventDetails.sport == 'FOOTBALL'"></span>
          <span class="fa fa-dribbble" ng-show="vm.eventDetails.sport == 'BASKETBALL'"></span>
          <span class="fa fa-dribbble" ng-show="vm.eventDetails.sport == 'VOLLEYBALL'"></span>
        </h4>
        <p>
          <label>Location: </label>
          {{vm.eventDetails.location.city}}
          {{vm.eventDetails.location.name}}
          {{vm.eventDetails.location.street}}
          {{vm.eventDetails.location.streetNumber}}
          <br/>
          <label>Description: </label>&nbsp;<span>{{vm.eventDetails.description}}</span>
        </p>


        <div class="well">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user fa-fw"></i>Participants</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a class="list-group-item"
                 ng-repeat="x in vm.eventDetails.participants"
              >
                <i class="fa fa-fw fa-user-secret"></i> {{x.userName}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
